<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <p class="flash-message">{{ message }}</p>
        {% endfor %}
    {% endif %}
{% endwith %}

   <h1>Welcome Back 👋</h1>
<p>Login to your account</p>
    <form method="POST">

       <label>Username:</label>
<input
    type="text"
    name="username"
    placeholder="Enter your username"
    required
>

        <br><br>

        <label>Password:</label>

<div class="password-box">
    <input
        type="password"
        name="password"
        id="login-password"
        required
    >

    <button type="button" onclick="togglePassword()">
        👁️
    </button>
</div>

        <br><br>

        <button type="submit">Login</button>

    </form>
    <p>
    Don't have an account?
   <a href="{{ url_for('register') }}">Register</a>
</p>
<script>
function togglePassword() {

    const password = document.getElementById("login-password");

    if (password.type === "password") {
        password.type = "text";
    } else {
        password.type = "password";
    }
}
</script>

</body>
</html>  